<h1>Jison PL0 Parser</h1>
<div id="content">

  <p>
	<!-- Create a simple CodeMirror instance -->
	<link rel="stylesheet" href="codemirror/codemirror.css">
	<script src="codemirror/codemirror.js"></script>
	<script src="codemirror/pl0g.js"></script>
	<p class="loadfile">
		<input type="file" id="examples" />
	</p>
	<div id="form">
	<form action="/save" method="post">
	<textarea id="input" name="input" autofocus rows = "10"><%= source %></textarea>

	<div class="divdoble">
		<div class="divmitad left">
			<button id="parse" type="button">CLIK HERE FOR PARSING</button>
		</div>
		<div class="divmitad right">
			<label for="saveas"><b>Save file as</b></label>
			<input id="saveas" type="text" name="fname" title="name" pattern="\w+" />
		</div>
	</div>

	</form>	  
	</div>
  </p>
  <p>
    <div id="flash"><%= flash[:notice] if flash[:notice]%></div>
  </p>
  <div class="output"><!-- Output goes here! --> 
<pre>
<div id="output">
</div>
</pre>
  </div>
</div>

<!-- Script para el CodeMirror -->
<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("input"), {
      lineNumbers: true
    });
</script>

<script type="text/javascript" src="/javascript/pl0.js"></script>
<script type="text/javascript" src="/javascript/main.js"></script>
